<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.yazeed44.imagepicker.library">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">


        <activity android:name="net.yazeed44.imagepicker.ui.PickerActivity" />

        <service
            android:name="net.yazeed44.imagepicker.util.OfflineSpiceService"
            android:exported="false" />
    </application>

</manifest>
